.btn-primary.btn-rounded {
    border-radius: 50px;
}

.black-background {
    background-color: black;
}

.img-avatar {
    border-radius: 50px;
    width: 50px;
    height: 50px
}

.search-bar {
    border-radius: 50px;
}

.img-post {
    border-radius: 10px;
    height: 75px;
    wigth: 75px;
    padding-left: 3px;
}

.btn-tweet {
    width: 100%;
}

.sub-text {
    color: #686868;
}

.search-shift-icon {
    position: absolute;
    left: 10px;
    color: gray;
}

.gear-icon {
    color: dodgerblue;
}

.img-text {
    color: #2b2b2b;
    position: relative;
    bottom: 55px;
    left: 10px;
    font-weight: bold;
    font-size: xx-large;
}

.suggested-posts {
    margin-top: -48px;
}

.nav-link-margins {
    margin-right: -2px;
    margin-left: -2px;
}