.btn-primary.btn-rounded {
    border-radius: 50px;
}

.img-avatar {
    border-radius: 50px;
    width: 50px;
    height: 50px
}

.search-bar {
    border-radius: 50px;
}

.img-post {
    border-radius: 10px;
    height: 75px;
    wigth: 75px;
}

.btn-tweet {
    width: 100%;
}

.search-shift-icon {
    position: absolute;
    left: 10px;
}

.gear-icon {
    color: dodgerblue;
}

.img-text {
    color: white;
    position: relative;
    bottom: 50px;
    left: 10px;
    font-weight: bold;
    font-size: xx-large;
}

.suggested-posts {
    margin-top: -48px;
}