.btn-primary.btn-rounded {
    border-radius: 50px;
}

.img-avatar {
    border-radius: 50px;
    width: 50px;
    height: 50px
}

.img-avatar-square {
    border-radius: 5px;
    width: 50px;
    height: 50px
}

.search-bar {
    border-radius: 50px;
    padding-left: 10px;
    background-color: #EFEFEF;
    margin-right: 10px;
    margin-left: 15px;
}

.img-post {
    border-radius: 10px;
    height: 75px;
    width: 75px;
}

.btn-tweet {
    width: 100%;
}

.search-shift-icon {
    position: absolute;
    left: 25px;
    color: #787878;
}

.img-text {
    color: white;
    position: relative;
    bottom: 80px;
    left: 10px;
    font-weight: bold;
    font-size: xx-large;
}

.img-sub-text {
    color: white;
    position: relative;
    bottom: 66px;
    left: 10px;
    font-size: medium;
}

.suggested-posts {
    margin-top: -68px;
}

.twitter-icon {
    color: dodgerblue;
}

.list-group-item.nav-bar-item {
    border: none;
}

.nav-link.pill-bar-item {
    border: none;
    color: gray;
    font-weight: bold;
}

.list-group-item.nav-bar-item-active {
    color: black;
    background-color: white;
    font-weight: bold;
}

.nav-tabs.nav-tabs-borderless {
    border: none;
}

.nav-tabs {
    margin-bottom: 0;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    border: none;
    border-bottom: 5px solid dodgerblue;
}

.list-group-item.who-nav-item {
    border: none;
    background-color: #F3F3F3;
}

.list-group-item.blue-nav-item {
    border: none;
    background-color: #F3F3F3;
    color: royalblue;
}

.nav-link-margins {
    margin-right: -4px;
    margin-left: -4px;
}

.list-group-item.suggested-item {
    border-bottom: none;
}

.list-group-item.suggested-item-bottom {
    border-top: none;
}

.side-bordered {
    border-style: solid;
    border-color: #F3F3F3;
    border-top: none;
    border-bottom: none;
    border-width: 1px;
}

.check-blue {
    color: dodgerblue;
}

.check-gold {
    color: gold;
}

.text-light-gray {
    color: #787878;
}

.blue-text {
    color: dodgerblue;
}

.btn-primary.btn-follow {
    background-color: black;
    border: black;
}
