.wd-title {
    color: white;
    font-size: 20px;
    padding-left: 16px;
    padding-top: 12px;
}
.wd-lightgray-border-sm {
    background-color: black;
    font-weight: bold;
    border: 1px solid lightgray;
    width: fit-content;
    border-radius: 20px;
    margin-left: 76px;
}
.wd-avatar-img {
    border-radius: 50%;
    height: 48px;
    width: 48px;
    margin-left: 16px;
    margin-right: 12px;
}
.wd-bold-text {
    color: white;
    font-size: 15px;
    margin-top: 12px;
    font-weight: bold;
}
.wd-sub-text {
    color: lightgray;
    font-size: 15px;
}
.wd-container {
    display: flex;
    align-items: start;
    justify-content: left;
    margin-top: 12px;
}
.wd-captioned-img {
    border-radius: 30px;
}
.wd-sized-img {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    height: 264px;
    width: 504px;
    border-bottom: 1px solid lightgray;
}
.wd-max-500-container {
    max-width: 488px;
    margin-left: 12px;
    margin-bottom: 12px;
}
.wd-red-icon {
    color: red;
}
.wd-gray-icon {
    color: lightgray;
}
.wd-icon-text {
    padding-left: 12px;
}
.wd-icons-container {
    margin-top: 12px;
}