.img-post {
    border-radius: 10px;
    height: 75px;
    wigth: 75px;
    padding-left: 3px;
}

.img-avatar {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.sub-text {
    color: #686868;
}