.wd-tuit-subtitle {
    font-size: 13px;
    color: rgb(110, 118, 125);
}
.wd-handle {
    font-size: 13px;
    color: lightgray;
    padding-left: 16px;
    padding-bottom: 12px;
}
.wd-tuit-author {
    color: white;
}
.wd-black-background {
    background-color: black
}
.wd-grid-row {
    clear: both;
    display:block;
}
.wd-tuit-text {
    color: white;
    font-size: 15px;
    max-width: 506px;
    margin-right: 16px;
    margin-bottom: 12px;
}
.wd-no-underline {
    text-decoration: none;
}
.wd-table {
    display: table;
    width: 100%;
    table-layout: fixed;
}
.wd-table-cell {
    display: table-cell;
    text-align: right;
}
.wd-lightgray-border-pd {
    background-color: black;
    font-weight: bold;
    border: 1px solid lightgray;
    width: 98%;
    padding-left: 12px;
}
.wd-lightgray-border {
    background-color: black;
    font-weight: bold;
    border: 1px solid lightgray;
    width: 100%;
}